<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8">
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] %-5level [%logger{0}] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="LOG_INFO_DAY" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>./logs/app.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./logs/app.%d{yyyyMMdd}.log</fileNamePattern>
            <maxHistory>120</maxHistory>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] %-5level [%logger{0}] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="LOG_ERROR_DAY" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>./logs/error.log</File>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./logs/error.%d{yyyyMMdd}.log</fileNamePattern>
            <maxHistory>120</maxHistory>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] %-5level [%logger{0}] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- druid配置 -->
    <logger name="druid.sql.Statement" level="info" additivity="false"/>
    <logger name="com.alibaba.druid.sql.SQLUtils" level="error" additivity="false"/>
    <logger name="com.alibaba.druid.filter.stat.StatFilter" level="off" additivity="false"/>

    <logger name="mapper" additivity="false" level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOG_INFO_DAY" />
    </logger>

    <root level="info" additivity="false">
        <appender-ref ref="LOG_INFO_DAY" />
        <appender-ref ref="LOG_ERROR_DAY" />
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>